
@{
    ViewBag.Title = "About";
}

<div id="aboutPage">
    <section id="topAboutSection" class="jumbotron">
        <h2>About</h2>

        <p>
            This is a nonprofit educational website that focus especially on the students who lost their way through education and look for things that may help them. Our goal is to motivate more and more disadvantaged student to earn the degrees they want and to give those students the information they need.
        </p>

        <h2>Technology</h2>

        <p>This web app is built with ASP.NET MVC 5, Bootstrap, and jQuery, and is hosted on Azure.</p>
    </section>

    <!--<section id="contactAboutSection" class="jumbotron"></section>-->
</div>