
@{
    ViewBag.Title = "College";
}

<div id="collegePage">
    <section id="topCollegeSection" class="jumbotron topSection">
        <h2>College</h2>

        <p></p>
    </section>

    <section id="mainCollegeSection" class="jumbotron mainSection">
        <img src="~/Content/College.png" class="img-responsive graphic" />

        <h2>Why College</h2>

        <p>
            A college degree is the safest level of education to reach for a well paying job that can kick-start a career that blossoms in the future. In today’s world, a college degree has become expected from anyone who wants to create a real lasting career. The $336 more college graduates make a week than only high school graduates is the highest change in pay between any two levels of education. However, this comes with many hardships. Going to a university costs a lot of money and can both be academically and mentally challenging. Completing college can, although, change salary and career paths in major ways. There are a lot more opportunities that open up.
        </p>

        <p>
            A college degree is a great stepping stool for higher levels of education and are enough to lead a very well balanced life. Though degrees in different majors don't equate to one another, college degrees are usually enough to get a comfortably paying job. This is a very important step in specializing what type of job people want. College degrees allow graduates to grow in their positions and get a large variety of opportunities. Most individuals with college degrees live comfortably by themselves or with a spouse 10 years after graduation, usually around 27 years old. To get this far, you have to maintain your grades and do well in both high school and college. You have to strike a balance and prioritize academics and networking and take advantage of all the opportunities offered. Overall, this is your option if you want to create a career for yourself and don’t mind too much about financial support until later on in your life. However, there is a lot of financial aid and scholarships that can help you go to college for relatively low prices and this makes the degree that much more worth.
        </p>        
    </section>

    <section id="storiesCollegeSection" class="jumbotron storiesSection">
        <h3>Personal Stories</h3>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/E0YdTY8fIKQ" frameborder="0" allowfullscreen></iframe>

        <h3>
            <a href="http://www.chicagotribune.com/business/ct-employers-raise-education-requirements-0320-biz-20160318-story.html">
                http://www.chicagotribune.com/business/ct-employers-raise-education-requirements-0320-biz-20160318-story.html
            </a>
        </h3>

        <h3>
            <a href="http://thechoice.blogs.nytimes.com/2012/09/06/how-to-succeed-in-college/?_r=0">
                http://thechoice.blogs.nytimes.com/2012/09/06/how-to-succeed-in-college/?_r=0
            </a>
        </h3>
    </section>

    <section id="resourcesCollegeSection" class="jumbotron resourcesSection">
        <h2>Resources</h2>

        <h3>
            <a href="http://collegelife.about.com/od/academiclife/a/10ReasonstoGetADegree.htm">
                http://collegelife.about.com/od/academiclife/a/10ReasonstoGetADegree.htm
            </a>
        </h3>

        <h3>
            Scholarship: <a href="http://www.scholarshipworkshop.com/college-scholarships.html">
                http://www.scholarshipworkshop.com/college-scholarships.html
            </a>
        </h3>

        <h3>
            Financial Aids: <a href="https://fafsa.ed.gov/">
                https://fafsa.ed.gov/
            </a>
        </h3>

        <h3>
            Job Opportunity: <a href="http://www.collegehelpers.com/">
                http://www.collegehelpers.com/
            </a>
        </h3>

        <h3>
            Job Opportunity: <a href="http//www.snagajob.com/student-jobs">
                http://www.snagajob.com/student-jobs/
            </a>
        </h3>
    </section>
</div>