
@{
    ViewBag.Title = "Educators";
}

<div id="educatorsPage">
    <section id="topEducatorsSection" class="jumbotron topSection">
        <h2>Educators</h2>

        <p>
            This is for educators who wants to learn more about how to guide and motivate those disadvantaged students and the resources that can help them succeed their educations.
        </p>
    </section>

    <section id="mainEducatorsSection" class="jumbotron mainSection">
        <img src="~/Content/Educators.png" class="img-responsive graphic" />

        <p>
            Here are a lot of links to different resources that people can use for free, the description of each, and a video to show the educator how to introduce these to his or her students. Also, There are some Ted talks that teachers can use in order to motivate students. We’d also make this area a Q&A place for students: so if one post questions on this page, there will be teachers with strong knowledge in this area or professionals to answer the questions.
        </p>
    </section>

    <section id="resourcesEducatorsSection" class="jumbotron resourcesSection">
        <h2>Resources</h2>

        <h3>Code Year</h3>
        <p>
            If learning computer programming sounds way out of your reach, best left to the geniuses of the world, you're wrong. According to Code Year, anyone can learn the basics of computer programming in just one year. Code Year encourages people to make a New Year's resolution to learn enough code to build their own apps and websites. A lot of people seem interested; at the time of publication, Code Year has gained over 355,880 wannabe-programmers—includingNew York City Mayor Michael Bloomberg—and more are joining every day. The creators of Code Year, a project of New York City-based startup Codeacademy, think that basic programming is an essential skill that everyone should learn.
        </p>
        <p>
            Code Year lessons are presented in an interactive format that doesn't necessarily feel like you're learning code. It's certainly the opposite of listening to lectures and reading dry books on programming. Budding programmers start off with JavaScript and move quickly through the subsequent lessons. The first two lessons have already been distributed, but users can still join and catch up with the rest of the program. Oh, and did we mention, it's absolutely free?

        </p>

        <h3>
            W3Schools
        </h3>
        <p>
            The largest site on the Internet for Web developers, W3Schools is a fantastic resource for those interested in brushing up on their Web development skills—or learning them for the first time. Want to make your own website? W3Schools offers tutorials and references on a large range of subjects, including HTML, CSS, XML, JavaScript, PHP, SQL, and more. Though not as structured as Code Year, W3Schools is just as thorough. The HTML lessons, for example, are separated by subject, starting off with the most basic instruction and moving into XHTML. W3Schools offers a list of helpful references for each subject. Ever forget a tag name or need to know the color name for the website you're building? W3Schools has it all. If you think you've got your HTML skills down pat, you can test how much you really know (and determine what you need to keep working on) in the HTML quiz.
        </p>
        <p>
            Those dedicated enough to teach themselves an entire coding language can even receive certification. Users can apply for a certificate by paying an exam fee. The exam is based entirely on the content of W3School's tutorials. Users that score at least 75 percent on the exam (consisting of 70 multiple-choice or true-or-false questions), get certified. Scoring 95 percent or higher adds an Excellency Degree notation to the certificate.
        </p>

        <h3>
            TED
        </h3>
        <p>
            We're guessing most of you have seen at least one TED Talk by now. The nonprofit started out as a conference in 1984 with the intention of "bringing together people from three worlds: Technology, Entertainment, Design." (It even saw one of the first Macintosh computer demos that year.) Fast-forwarding 28 years, TED now features more than 1,114 free, award-winning talks, with more added each week. Released under a Creative Commons license, the videos can be freely shared and reposted. TED speakers discuss a wide array of topics—from technology and design to science and culture—and present them in the most innovative and engaging ways possible within an 18-minute window of time. Past presenters include Microsoft's Bill Gates, Google founders Larry Page and Sergey Brin, a number of Nobel Prize winners, Amazon's Jeff Bezos, Stephen Hawking, Bill Clinton, and Jane Goodall
        </p>

        <h3>
            Massachusetts Institute of Technology
        </h3>
        <p>
            Brush up on your college-level writing and reading skills without paying an exorbitant amount. The Massachusetts Institute of Technology has a slew of undergrad and graduate courses available online for free through its OpenCourseWare program. Over 2,000 courses cover architecture and planning, engineering, humanities, arts, social studies, science, and many other academic areas. Some of the most popular classes online include Introduction to Computer Science and Programming, Physics I: Classical Mechanics, Linear Algebra, Single Variable Calculus, and Introduction to C++. Some classes include interactive Web demonstrations, streaming video lectures, and complete textbooks written by MIT professors. MIT's OpenCourseWare program lets users move through the lecture notes, suggested reading lists, and videos at their own pace.
        </p>
        <p>
            MIT isn't the only university to offer open education. Rice University has its own version, calledConnexions, the University of Michigan has Open.Michigan, Tufts University has Tufts OpenCourseWare, the University of California at Berkeley has webcast.berkeley, and New York University has Open Education Pilot.
        </p>

        <h3>
            iTunes U
        </h3>
        <p>
            iTunes U hosts content from more than 800 universities and distinguished organizations. Stanford, Yale, and Oxford are on the list, as well as MoMA, the New York Public Library, Public Radio International, and PBS stations. iTunes U offers audio and video of lectures, plus slideshows, PDFs, books, films, exhibit tours, and audio books. iTunes U, which supports both the PDF and ePub file formats, allows educators to distribute schedules, syllabi, lecture outlines, study guides, notes, maps, and even entire books. Don't worry if you don't have an iOS device; these formats work on any compatible e-reader. iTunes U offers material on nearly every topic, so whether you're looking to educate yourself on app development or just want a Shakespeare refresher, iTunes U can help.

        </p>

        <h3>
            Khan Academy
        </h3>
        <p>
            Sal Khan, former hedge fund analyst and creator of the nonprofit Khan Academy, has made over 2,700 free educational videos and aims to continue until the day he dies. Hoping to make several tens of thousands of videos available in nearly every subject, Khan Academy currently covers K-12 math, and science topics like biology, chemistry, cosmology, astronomy, and physics. The site also dabbles in finance and history, and a recent partnership withSmarthistory added hundreds of art history videos to the library. The content is made in "digestible 10 to 20 minute chunks," and students are encouraged to complete practice exercises and assessments. The videos are done in a conversational style, taking a different approach to math and science instruction than most are used to.
        </p>

        <h3>
            Peer 2 Peer University
        </h3>
        <p>
            Peer 2 Peer University, otherwise known as P2PU, is a grassroots open education project. Creating a "model for lifelong learning alongside traditional formal higher education," P2PU uses the Internet to make educational materials openly available for free. The courses are taught by volunteers who submit their course ideas and are guided by a group of community members and experts to create a syllabus. Students work together online to provide constructive feedback, completing tasks in both group and individual environments. Classes range in subject from Python programming to pencil drawing.
        </p>

        <h3>
            University of the People
        </h3>
        <p>
            Affiliated with the United Nation's Global Alliance for Information and Communication Technology and Development, the Clinton Global Initiative, and the Yale Law School Information Society Project, University of the People is the world's first tuition-free, non-profit, online academic institution. It aims to provide quality education to people around the world—especially those in developing countries. UoPeople, as it's otherwise known, works to "democratize higher education by providing universal access to college-level courses despite financial, geographic, or social constraints." Though it's not a fully accredited university, UoPeople is working to change that. Since its start in 2009, UoPeople has accepted over 1,300 students, from ages 18 to 72 and from over 125 countries. The online university offers four undergrad programs: Business Administration (A.S., B.S.) and Computer Science (A.S., B.S.).
        </p>
        <p>
            To take courses through UoPeople, students must apply. Applicants have to prove high school completion, be 18 years or older, and be proficient in English. In order for the non-profit to stay afloat, students pay a one-time application processing fee ranging from $10 to $50 and examination processing from $10 to $100. The fees are based on the applicant's place of residence; applicants from developing countries pay a lower amount.
        </p>

        <h3>
            Academic Earth
        </h3>
        <p>
            Academic Earth, an online video education site, offers courses and lectures from Yale, Harvard, Stanford, MIT, UC Berkeley, and Princeton in a user-friendly platform. With more than 1,500 videos, and more being added every day, Academic Earth covers a wide range of subjects, including art and architecture, astronomy, biology, business, economics, computer science, environmental studies, psychology, media studies, and law. Videos are graded, starting at a B and changing as users score each lecture. You can brush up on Civil War and Reconstruction Era history while riding the train to work. Users can also download QuickTime versions of lectures to watch while not connected to the Internet.
        </p>

        <h3>
            CK-12
        </h3>
        <p>
            Intended for kindergarteners through twelfth graders, CK-12 is a non-profit organization whose mission is to reduce the cost of textbook material in the K-12 market. To do that, it publishes open-licensed Web-based textbooks, called FlexBooks, online for free. Much of the content is remedial, but many will benefit from reviewing subjects like calculus, trigonometry, and biology. For those with children getting ready for the SAT, CK-12 also offers free SAT prep—saving parents hundreds of dollars on those expensive preparatory classes.
        </p>
        <p>
            For teachers frustrated with ever-updating editions of expensive textbooks, CK-12's FlexBooks allow teachers to customize and create content by repurposing it to fit the curriculum. For example, when Pluto downgraded from the ninth planet to a dwarf planet, textbooks were rewritten and schools paid thousands of dollars to get the newest edition. With FlexBooks, teachers can go online and change a book for free.
        </p>
    </section>
</div>