
@{
    ViewBag.Title = "Graduate School";
}

<div id="graduateSchoolPage">
    <section id="topGraduateSection" class="jumbotron topSection">
        <h2>Graduate School</h2>

        <p></p>
    </section>

    <section id="mainGraduateSection" class="jumbotron mainSection">
        <img src="~/Content/Graduate.png" class="img-responsive graphic" />

        <h2>Why Graduate School</h2>

        <p>
            A graduate degree is the can almost guarantee a top tier job in the market that pays extremely well.  In today’s world, a graduate degree isn’t completely necessary to make very large salaries, but is very helpful in climbing up the ladder at a fast pace. Graduate degree holders consistently get a lot higher salaries than their college degree holding counterparts. Graduate schools cost a lot of money and it can really add up on top of a normal bachelor’s degree.
        </p>

        <p>
            A graduate degree is the level of education right before going for a phD, and is necessary if that is what an education path you want to pursue. Though degrees in different majors don't equate to one another, graduate degrees are enough to get a very comfortably paying job. Graduate degrees are, at the base, specializing in one field and becoming an expert in that field. Most individuals with graduate degrees live comfortably by themselves or with a spouse 10 years after graduation, usually around 27 years old. Because graduate degrees require extra years of schooling, school loans and a career-oriented mindset could potentially take away from other aspects of their lives. To get this far, you have to maintain your grades and do extremely well in both high school and college. You have to strike a balance and prioritize academics and networking and take advantage of all the opportunities offered. Overall, this is your option if you know exactly what you want to do with your life or simply want to continue your education past college. It can be very expensive but there is a lot of financial aid and scholarships that can help you go to grad school for relatively low prices and this makes the degree that much more worth.
        </p>
    </section>

    <section id="storiesGraduateSection" class="jumbotron storiesSection">
        <h2>Personal Stories</h2>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/AgTbscodkCE" frameborder="0" allowfullscreen></iframe>

        <h3>
            <a href="http//www.csee.umbc.edu/~mariedj/papers/advice.pdf">
                http://www.csee.umbc.edu/~mariedj/papers/advice.pdf
            </a>
        </h3>

        <h3>
            <a href="http://blog.classesandcareers.com/advisor/how-a-post-graduate-degree-changed-my-life/">
                http://blog.classesandcareers.com/advisor/how-a-post-graduate-degree-changed-my-life/
            </a>
        </h3>
    </section>

    <section id="resourcesGraduateSection" class="jumbotron resourcesSection">
        <h2>Resources</h2>

        <h3>
            <a href="http://www.usnews.com/education/best-graduate-schools/articles/2012/06/29/6-reasons-why-graduate-school-pays-off">
                http://www.usnews.com/education/best-graduate-schools/articles/2012/06/29/6-reasons-why-graduate-school-pays-off
            </a>
        </h3>

        <h3>
            Scholarship: <a href="https://www.scholarships.com/financial-aid/college-scholarships/scholarships-by-grade-level/graduate-scholarships/">
                https://www.scholarships.com/financial-aid/college-scholarships/scholarships-by-grade-level/graduate-scholarships/
            </a>
        </h3>

        <h3>
            Financial Aids: <a href="https//studentaid.ed.gov/sa/sites/default/files/graduate-professional-funding-info.pdf">
            https://studentaid.ed.gov/sa/sites/default/files/graduate-professional-funding-info.pdf
            </a>
        </h3>

        <h3>
            Job Opportunity: <a href="https://www.usajobs.gov/StudentsAndGrads">
                https://www.usajobs.gov/StudentsAndGrads
            </a>
        </h3>
    </section>
</div>