
@{
    ViewBag.Title = "High School";
}

<div id="highSchoolPage">
    <section id="topHighSchoolSection" class="jumbotron topSection">
        <h2>High School</h2>

        <p></p>
    </section>

    <section id="mainHighSchoolSection" class="jumbotron mainSection">
        <img src="~/Content/HighSchool.png" class="img-responsive graphic" />

        <h2>Why High School</h2>

        <p>
            A high school diploma is the most entry level of education that is recognized by employers and is a necessity to be considered for most, if not all, above minimum wage jobs. In today’s world, there isn’t a lot that someone can do without a high school diploma. There is a huge difference between opportunities high school graduates receive in comparison to their dropout counterparts. Statistics show that high school graduates make $143 more than their dropout counterparts. On top of tangible money incentives, high school graduation is a bare minimum for a lot of insurance companies and, without this, it might be very hard to get even basic medical care.
        </p>

        <p>
            A high school diploma is a great stepping stool for higher levels of education. However, the diploma is enough to get a job. If you are trying to get any job, regardless of what it is, relatively quickly after school, a high school diploma will do the job. With this said, it will be very difficult to continue growing in positions and opportunities without any higher level of education. Most high school graduates live with either their parents or friends 10 years after graduation, usually around 27 years old. To get this far, you have to maintain your grades and at least pass each of your classes. Overall, this is your option if you need to start earning large sums very quickly and doesn't allow for much career progression, while the only requirement is getting passing grades in high school.

        </p>
    </section>

    <section id="storiesHighSchoolSection" class="jumbotron storiesSection">
        <h2>Personal Stories</h2>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/YsQLspjKZwo" frameborder="0" allowfullscreen></iframe>

        <iframe width="420" height="315" src="https://www.youtube.com/embed/J2IOVWoENgI" frameborder="0" allowfullscreen></iframe>

        <h3>
            <a href="http://www.npr.org/2011/07/28/138741367/a-high-school-dropouts-mid-life-hardships">
                http://www.npr.org/2011/07/28/138741367/a-high-school-dropouts-mid-life-hardships
            </a>
        </h3>
    </section>

    <section id="resourcesHighSchoolSection" class="jumbotron resourcesSection">
        <h2>Resources</h2>

        <h3>
            <a href="http://www.wahm.com/articles/7-reasons-for-getting-your-high-school-diploma.html">
                http://www.wahm.com/articles/7-reasons-for-getting-your-high-school-diploma.html
            </a>
        </h3>

        <h3>
            Scholarship: <a href="https://www.unigo.com/scholarships/high-school-students">
                https://www.unigo.com/scholarships/high-school-students
            </a>
        </h3>

        <h3>
            Financial Aids: <a href="https//www.estudentloan.com/financial-aid/financial-aid-for-high-school-students">
                https://www.estudentloan.com/financial-aid/financial-aid-for-high-school-students
            </a>
        </h3>

        <h3>
            Job Opportunity: <a href="http://www.monster.com/jobs/q-high-school-student-jobs.aspx">
                http://www.monster.com/jobs/q-high-school-student-jobs.aspx
            </a>
        </h3>
    </section>
</div>