
@{
    ViewBag.Title = "Index";
}

<div id="indexPage">
    <section id="mainIndexSection" class="jumbotron">
        <h1>EduSpire</h1>
        
        <h2>Welcome!</h2>

        <!--

        <h3>Sub-Heading</h3>

        <button class="btn btn-lg btn-primary">Take Our Quiz!</button>

        -->

    </section> 
    
</div>

<script>
    $(window).load(function () {
        $("#quizModal").modal('show');
    });
</script>