
@{
    ViewBag.Title = "Technical College";
}

<div id="technicalCollegePage">
    <section id="topTechnicalSection" class="jumbotron topSection">
        <h2>Technical College</h2>

        <p></p>
    </section>

    <section id="mainTechnicalSection" class="jumbotron mainSection">
        <img src="~/Content/Technical.png" class="img-responsive graphic" />

        <h2>Why Technical College</h2>

        <p>
            A college degree is the safest level of education to reach for a well paying job that can kick-start a career that blossoms in the future. In today’s world, a college degree has become expected from anyone who wants to create a real lasting career. Going to a technical school or a community college allows you to reap the benefits of getting a college degree, while only having to pay a full college tuition for about 2 or 3 years. The beginning years in a technical school are usually very cheap. Completing college can change salary and career paths in major ways. There are a lot more opportunities that open up.
        </p>

        <p>
            A college degree is a great stepping stool for higher levels of education, but, by itself, is enough to lead a very well balanced life. Though degrees in different majors don't equate to one another, college degrees are usually enough to get a comfortably paying job. This is a very important step in specializing what type of job people want.  Technical schools allow you to choose exactly what you want to do and expose you to your chosen interest in a very comprehensive manner. The natural progression is to go to a technical or community college and then transfer to a full university. Though it is a little difficult, hard work pays off and you only need to do well in school. Most individuals with college degrees live comfortably by themselves or with a spouse 10 years after graduation, usually around 27 years old. Overall, this is your option if you want to create a career for yourself and but you don't have many options to pay for four years of school.
        </p>
    </section>

    <section id="storiesTechnicalSection" class="jumbotron storiesSection">
        <h2>Personal Stories</h2>

        <h3>
            <a href="http://www.jff.org/blog/2014/02/26/importance-career-and-technical-education-expanding-opportunities">
                http://www.jff.org/blog/2014/02/26/importance-career-and-technical-education-expanding-opportunities
            </a>
        </h3>
    </section>

    <section id="resourcesTechnicalSection" class="jumbotron resourcesSection">
        <h2>Resources</h2>

        <h3>
            <a href="https://blog.frontrange.edu/2013/02/04/top-5-reasons-to-earn-your-associates-degree-even-if-you-want-to-transfer/">
                https://blog.frontrange.edu/2013/02/04/top-5-reasons-to-earn-your-associates-degree-even-if-you-want-to-transfer/
            </a>
        </h3>

        <h3>
            Scholarship: <a href="http://www.collegescholarships.org/scholarships/technical-school.htm">
                http://www.collegescholarships.org/scholarships/technical-school.htm
            </a>
        </h3>

        <h3>
            Financial Aids: <a href="https://studentaid.ed.gov/sa/prepare-for-college/choosing-schools/types#two-year-colleges">
                https://studentaid.ed.gov/sa/prepare-for-college/choosing-schools/types#two-year-colleges
            </a>
        </h3>

        <h3>
            Job Opportunity: <a href="http://www4.midlandstech.edu/ses/careeropportunities.html">
                http://www4.midlandstech.edu/ses/careeropportunities.html
            </a>
        </h3>
    </section>
</div>